.indexOrderButton {
    height: 60px;
    width: 60px; 
    text-align: center;
    font-size: 30px
}

.messageOrderButton {
    height: 60px;
    width: 60px; 
    text-align: center;
    font-size: 30px
}

.tile {
    width: 100%;
    height: 60px;
    text-align: center;
    padding: 5px;
}

.serviceTimeTile{
    width: 16.66%;
}

input.comments {
    text-align: left;
    width: 100%;
    height: 80px;
    padding-left: 20px;
    color: var(--ovviumYellow);
    background-color: var(--primaryBackground);
    border: 2px solid var(--secondaryBackground);
}

input.comments:focus {
    border-color: var(--secondaryBackground);
}

.editableOrderTile {
    text-align: left;
    padding-left: 30px;
    padding-top: 10px;
    display: block;
}

.editableOrderDescription {
    font-size: 12px;
    color: var(--ovviumYellow);
}

.groupOrderItem {
    padding-top: 30px;
    margin-bottom: 30px;
    border-top: 1px solid var(--primaryBackground);
}

@media screen and (max-width: 479px) {

    .serviceTimeTile{
        width: 33.3%;
    }
}