
version: "3.7"

services:
  db:
    container_name: postgres-db
    image: postgres:12.6-alpine
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - 5432:5432
    environment:
      POSTGRES_HOST_AUTH_METHOD: "trust"

volumes:
  db-data:
    driver: local
