.box {
    text-align: center;
    padding: 40px 30px;
    margin: 10px;
    background-color: white;
    border-radius: 4px;
    opacity: 0.95;
}

.accessTitle {
    color: #000;
    font-size: 20px;
    display: block;
    margin: 10px 0px;
}

.error {
    color: var(--errorColor);
}

.forgotPassword {
    font-size:0.9em;
    margin-top:20px;
    color: var(--linkColor);
    cursor: pointer;
}
