.navbar {
    border-bottom: 1px solid #737373;
    padding: 0;
}

.navbar a {
    color: var(--primaryTextColor) !important;
    font-size: 14px;
    height: 50px;
    padding-top: 15px;
    min-width: 200px;
    text-align: center;
}

.navbar a:hover {
    color: var(--primaryTextColor);
    background-color: var(--secondaryBackground);
    opacity: 0.8;
}

.selected {
    color: var(--ovviumYellow);
    border-bottom: 2px solid var(--ovviumYellow);
}

.selected:hover {
    color: var(--ovviumYellow);
    opacity: 0.8;
}

.badge {
    right: -5px;
}

.swiperContainer {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--secondaryBackground);
  }

  .swiperSlide2Rows {
    text-align: left;
    font-size: 13px;
    height: calc((100% - 30px) / 2);

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    background-color: var(--primaryBackground);
    border-radius: 8px;
    color: var(--primaryTextColor);
    margin-right: 10px;
    overflow-y: auto;
  }

  .swiperSlide1Row {
    text-align: left;
    font-size: 13px;
    height: calc(100% - 15px);

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    background-color: var(--primaryBackground);
    border-radius: 8px;
    color: var(--primaryTextColor);
    margin-right: 10px;
    overflow-y: auto;
  }


.slideHeader {
    background-color: var(--purple);
    height: 30px;
    padding: 6px 10px 0px 10px;
    border-radius: 8px 8px 0px 0px;
}  

.slideHeaderRight {
    font-style: italic;
    float: right; 
    font-size: 10px;
}

.slideBody {
    padding: 10px;
}

.navbar {
    border-bottom: 1px solid #737373;
    padding: 0;
}

.navbar a {
    color: var(--primaryTextColor) !important;
    font-size: 14px;
    height: 50px;
    padding-top: 15px;
    min-width: 200px;
    text-align: center;
}

.navbar a:hover {
    color: var(--primaryTextColor);
    background-color: var(--secondaryBackground);
    opacity: 0.8;
}

.toggle{
    color: var(--primaryTextColor);
    margin: 6px;
    background-color: var(--headerBackground);
}

.selected {
    color: var(--ovviumYellow);
    border-bottom: 2px solid var(--ovviumYellow);
}

.selected:hover {
    color: var(--ovviumYellow);
    opacity: 0.8;
}

.printCol {
    border: 4px solid var(--secondaryBackground);
}

.tile {
    width: 100%;
    height: 60px;
    text-align: center;
    margin-bottom: 5px;
}

.printerTile {
    height: 60px;
    text-align: center;
    margin: 5px;
}

.tile:active {
    background-color: var(--ovviumYellow);
}

.emptyPrintsMessage {
    color: var(--primaryTextColor);
    margin-top: 20px;
}

.buttonGroupTile {
    text-align: center;
    height: 40px;
    width:25%;
    margin-right: 5px;
}

input.config {
    text-align: left;
    width: 70%;
    height: 60px;
    padding-left: 20px;
    color: var(--ovviumYellow);
    background-color: var(--primaryBackground);
    border: 2px solid var(--secondaryBackground);
    margin-top: 10px;
}

.spaceVertical10 {
    margin-top: 10px;
}

.form {
    padding: 1%;
}


.acceptButton {
    width: 50%;
    background-color: var(--green);
}

.cancelButton {
    width: 50%;
    background-color: var(--red);
}

.buttonsContainer {
    height: 11%;
    border: 2px solid var(--secondaryBackground);
}

.formContainer {
    height: 88%;
}

.removeButtonContainer {
    height: 11%;
}
.smallPrintButtonsContainer {
    display: none;
}

.mainWrapper {
    height: 100%;
}

.avatar{
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0px;
    z-index: 999;
}

.avatar a::after {
    display:none;
}

.avatar div {
  background-color: var(--secondaryBackground);
}

.avatar a {
    color: var(--ovviumYellow);
    padding-top: 4px;
}
