.verticalSeparator {
    text-align: left;
    float: left;
    width: 1px;
    display: table;
    height: 100%;
    font-size: 14px;
    background-color: #737373;
    margin-left: 7px;
    margin-right: 7px;
}