
.input_text {
  border: none;
  border-bottom: solid 0.9px rgba(208, 208, 208, 0.5);
  display: block;
  width: 100%;
  padding: 18px;
  font-size: 16px;
  margin: 12px 0px;
  height: 40px;
  color: #000;
  background: transparent;
}

.input_text::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a5a5a5;
  opacity: 1; /* Firefox */
}

.input_text:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #a5a5a5;
}

.input_text::-ms-input-placeholder { /* Microsoft Edge */
  color: #a5a5a5;
}
